.nav-left {
  background-color: #fff;
}
.nav-left .logo {
  line-height: 90px;
  background-color: #1890ff;
}
.nav-left .logo img {
  height: 35px;
  vertical-align: middle;
}
.nav-left .logo h1 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
